# Python - arquivos gerados automaticamente
__pycache__/
*.pyc

# Ambientes virtuais Python
.venv/
venv/

# Variáveis de ambiente e possíveis segredos
.env

# Jupyter Notebook
.ipynb_checkpoints/

# Editores / IDEs
.vscode/
.idea/

# Obsidian
.obsidian/

# Sistema operacional
.DS_Store
Thumbs.db